{{#if display.total}}
<div class="hoc-table__pagination">
  <div class="hoc-table__pagination-right">
    <div class="hoc-table__pagination-count-info">
      <div class="hoc-table__pagination-count-info-inner">
        <aside>
          <p>{{t 'displaying'}}</p>
        </aside>
        <aside class="hoc-table__size-menu">
          {{#hoc-menu as |menu|}}
            {{#menu.button}}
            <span><span class="margin-right-5">{{display.size}}</span><i class="icon ion-navicon fg-0" /></span>
            {{/menu.button}}
            {{#menu.body}}
              {{hoc-table/pagination-menu pagination=(mut pagination) delegate=delegate}}
            {{/menu.body}}
          {{/hoc-menu}}
        </aside>
        <aside>
          <p>{{t 'of_x' x=display.total}}</p>
        </aside>
      </div>
    </div>
    <div class="hoc-table__pagination-controls">
      {{#if controls.previous}}
      <div class="hoc-table__pagination-control--previous">
        <a class="hoc-table__pagination-control-previous-button" onClick={{action 'move' -1}}>{{t 'previous'}}</a>
      </div>
      {{/if}}
      {{#if controls.next}}
      <div class="hoc-table__pagination-control--next">
        <a class="hoc-table__pagination-control-next-button" onClick={{action 'move' 1}}>{{t 'next'}}</a>
      </div>
      {{/if}}
    </div>
  </div>
</div>
{{/if}}
