<tr class="listing">
  <td class="v-align-middle">
    <p><a href={{row.listing.url}} target="_blank" rel="noreferrer noopener">{{row.listing.listing_id}}</a></p>
  </td>
  <td class="v-align-middle ellipsis no-wrap nowrap overflow-hidden">
    <p class="overflow-hidden ellipsis nowrap display-block">{{{row.listing.title}}}</p>
  </td>
  <td class="v-align-middle ellipsis no-wrap nowrap overflow-hidden">
    <p class="overflow-hidden ellipsis nowrap display-block"><a href={{row.shop.url}}>{{row.shop.title}}</a></p>
  </td>
  <td class="v-align-middle ellipsis no-wrap nowrap overflow-hidden">
    {{#if creation}}
    <p class="overflow-hidden ellipsis nowrap display-block">{{moment-format creation 'MMM YYYY'}}</p>
    {{else}}
    <p class="overflow-hidden ellipsis nowrap display-block">{{t 'unknown'}}</p>
    {{/if}}
  </td>
  <td class="v-align-middle ellipsis no-wrap nowrap overflow-hidden align-right">
    <p class="overflow-hidden ellipsis nowrap display-block">{{row.listing.price}}</p>
  </td>
  <td class="v-align-middle align-center"><img src="{{row.images.firstObject.url_75x75}}" /></td>
</tr>

