<article class="clearfix" data-template="listings">
  <section class="clearfix margin-bottom-10">
    <h1>{{t "listings"}}</h1>
  </section>
  <section class="clearfix">
    <div class="clearfix margin-bottom-10 padding-bottom-10">
      <div class="balloon-input">
        <input name="query" type="text" class="balloon-input__input" value={{model.delegate.filters.title}} oninput={{action "search"}} />
        <label for="query" class="balloon-input__label">{{t 'search'}}</label>
      </div>
    </div>
    <div class="clearfix">{{listing-table delegate=model.delegate sorting=model.sorting pagination=model.pagination}}</div>
  </section>
</article>
