<div class="hoc-table">
  <div class="hoc-table__table-container">
    <table class="hoc-table__table">
      <colgroup>
        {{#each columns as |column|}}
          <col class="{{column.rel}}" style={{{column.style}}} />
        {{/each}}
      </colgroup>
      <thead>
        <tr>
          {{#each columns as |column|}}
          {{component 'hoc-table/column-header' column=column sorting=(mut sorting)}}
          {{/each}}
        </tr>
      </thead>
      {{yield (hash 
        row=(component 'hoc-table/body' promise=promise)
        pending=(component 'hoc-table/pending' promise=promise)
      )}}
    </table>
  </div>
  <div class="hoc-table__pagination-container">
    {{component 'hoc-table/pagination' promise=promise pagination=(mut pagination) delegate=delegate}}
  </div>
</div>
